{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "no-mixed-requires": 0
  }
}