<!DOCTYPE html>
<html>
  <head>
    <title>Book Shelf</title>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script type="text/javascript">window.Payload = <%- payload %>;</script>
    <script type="text/javascript" src="/scripts/bundle.js"></script>
  </body>
</html>
